[Unit]
Description=Network Multimeter Accumulator

[Service]
User=http
ExecStartPre=mkdir -p /tmp/publish
ExecStart=/usr/bin/accumulator /tmp/capture /tmp/publish

[Install]
WantedBy=multi-user.target

