[Unit]
Description=Network Multimeter Accumulator

[Service]
ExecStartPre=/usr/bin/mkdir -p /tmp/net-multimeter/capture
ExecStartPre=/usr/bin/mkdir -p /tmp/net-multimeter/publish
ExecStart=/usr/bin/accumulator /tmp/net-multimeter/capture /tmp/net-multimeter/publish

[Install]
WantedBy=multi-user.target

