[Unit]
Description=Network Multimeter Accumulator

[Service]
User=http
ExecStart=/usr/bin/accumulator /tmp/process /tmp/publish/accumulator.json

[Install]
WantedBy=multi-user.target

